# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Vim swap files
.*.swp

# Examples
examples/list_manipulation
examples/proc_test
examples/simulation



